
<template>
  <div class="training">
    <h1>Math training</h1>
    <hr >
    <start-screen
            v-if="state == 'start'"
            @onStart="onStart"
    ></start-screen>
    <question-screen v-else-if="state == 'question'"
                    @success="onQuestionSuccess"
                     @error="onQuestionError"
    ></question-screen>
    <message v-else-if="state == 'message'"
              :text = "messages.text"
             :type = "messages.type"
             @onNext = "onNext"
    ></message>
    <result-screen v-else-if="state == 'result'"
          :etempts = "etempts"
           @repeat = "onRepeat"
    ></result-screen>

  </div>
</template>

<script>
  export default {
    name: 'app',
      data () {
        return {
       state: 'start',
        messages:{
           text: '',
            type: ''
        },
         etempts: {
           good: 0,
           poor: 0,
           type: '',
            total: ''
         },

     }
  },
      computed:{
        testAttempts(){
            return this.etempts.good + this.etempts.poor
        },
          isTotal(){
            if(this.etempts.good > this.etempts.poor){
                this.etempts.type = 'succes';
                this.etempts.total = 'Wel done, test completed';
            }else{
                this.etempts.type = 'error';
                this.etempts.total = 'Wery bed, test not complet!'
            }
          }

      },
      methods:{
        onStart(){
            this.state = 'question';
        },
          onQuestionSuccess(){
            this.state = 'message';
             this.messages.text = "Good Job, men!!!";
              this.messages.type = "success";
              this.etempts.good += 1;
          },
          onQuestionError(msg){
              this.state = 'message';
              this.messages.text = msg;
              this.messages.type = "warning";
              this.etempts.poor += 1;
          },
          onNext(){
            if(this.testAttempts < 5){
                this.state = 'question';
            }else{
                this.state = 'result';
                this.isTotal
            }

          },
          onRepeat(){
              this.state = 'start';
              this.etempts.poor = 0;
              this.etempts.good = 0;
              this.etempts.type = '';
              this.etempts.total = '';
          }
      }
}
</script>

<style scoped>
  .training{
    max-width: 700px;
    margin: 20px auto;
  }
</style>