<template>
    <div :class="type">
        <h2>{{ text }}</h2>
        <hr>
        <button class="btn"
                @click="$emit('onNext')"
        >Continue</button>
    </div>
</template>

<script>
    export default {
        name: "message",
        props:[
            'type',
            'text'
        ],
    }
</script>

<style scoped>
    .warning{
        text-align: center;
        background-color: red;
        color: white;
    }
    .success{
        text-align: center;
        background-color: #44cb00;
        color: white;
    }
    .btn{
        background-color: aqua;
        color: white;
        font-size: 18px;
        font-weight: 400;
        padding: 5px;
        margin: 20px auto;
    }
</style>