<template>
    <div class="container">
        <h3>{{x}} + {{y}} = ?</h3>
        <p>You response?</p>
        <button v-for="number in answars"
                @click="onAnswar(number)"
        >
            {{number}}
        </button>
    </div>
</template>

<script>
    export default {
        name: "question-screen",
        data() {
            return {
                x: mtRand(100, 200),
                y: mtRand(100, 200)
            }
        },
        computed: {
            right() {
                return this.x + this.y
            },
            answars() {
                let right = this.x + this.y;
                let res = [right];
                while (res.length < 4) {
                    let num = mtRand(right - 20, right + 20);
                    if (res.indexOf(num) === -1) {
                        res.push(num)
                    }
                }
                return res.sort(function () {
                    return Math.random() > 0.5;
                });
            },
        },
            methods: {
                onAnswar(num) {
                    if (num == this.right) {
                        this.$emit('success');
                    } else {
                        this.$emit('error', `${this.x}+${this.y}=${this.right}!`);
                    }
                }
            }

    }
    function mtRand(min, max) {
        let diff = max - min;
        return Math.floor(Math.random() * (diff + 1)) + min;
    }

</script>

<style scoped>
 button{
     margin-left: 15px;
     padding: 3px;
     background-color: #4cbfff;
     color: #fff;
     font-size: 19px;
 }
</style>