<template>
    <div :class="etempts.type">

        <h2>{{etempts.total}}</h2>
        <span>Success: {{etempts.good}}</span>
        <span>poor: {{etempts.poor}}</span>
        <div class="btn-groupe">
            <button class="btn-repeat"
                @click = "$emit('repeat')"
            >Repeat test</button>
        </div>
    </div>
</template>

<script>
    export default {
        name: "result-screen",
        data(){
          return{
              total: ''
          }
        },
        props: ['etempts'],
        computed:{
            isGood(){
                if(this.etempts.good > this.etempts.poor){
                    this.total = 'good!'
                }else{
                    this.total = 'poor'
                }
            }
        },
        methods:{
            onTest(){
                console.log(this.errors, this.success)
            }
        }
    }
</script>

<style scoped>
    h2{
        margin: 0 auto;
    }
    .error{
        text-align: center;
        background: red;
        color: white;
        font-size: 18px;
    }
    .succes{
        text-align: center;
        background-color: aquamarine;
        color: white;
        font-weight: 500;
        font-size: 18px;
        }
    .btn-repeat{
        background-color: aliceblue;
        padding: 10px;
        font-size: 16px;
        color: red;
        margin: 20px auto;
    }

</style>