<template>
    <div class="container">
        <h3>Are you ready!!!</h3>
        <br>
        <button @click="$emit('onStart')">Start</button>
    </div>
</template>

<script>
    export default {
        name: "start-screen"
    }
</script>

<style scoped>

</style>